@CHARSET "UTF-8";

:root {
    --color-danger: #DC3545;
    --color-primary: #007BFF;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-light: #F8F9FA;
    --color-dark: #343A40;
    --color-info: #17A2B8;
}
